.peach {
	&--fc {
		color: var(--clr-p-1);
	}

	&--bc {
		background-color: var(--clr-p-1);
	}

	&--light {
		&--fc {
			color: var(--clr-s-1);
		}

		&--bc {
			background-color: var(--clr-s-1);
		}
	}

	&--very-light {
		&--fc {
			color: var(--clr-s-4);
		}

		&--bc {
			background-color: var(--clr-s-4);
		}
	}
}

.white {
	&--fc {
		color: var(--clr-p-3);
	}

	&--bc {
		background-color: var(--clr-p-3);
	}
}
