@use '../globals/breaks' as b;

.full-bleed {
	width: 100vw;
	margin-left: calc(50% - 50vw);

	&.radius {
		&--lg,
		&--sm {
			border-radius: 0;
		}
	}

	@include b.breakpoint(md) {
		width: auto;
		margin-left: unset;

		&.radius--lg {
			border-radius: var(--br-lg);
		}
		&.radius--sm {
			border-radius: var(--br-sm);
		}
	}
}
