.button {
	padding: 1.125rem 1.5rem;
	text-transform: uppercase;
	display: inline-block;
	transition: background-color var(--trans-dur), color var(--trans-dur);

	&:hover {
		background-color: var(--clr-s-1);
		color: var(--clr-p-3);
	}
}
