@use '../globals/breaks' as b;

.card__content {
	--flow-space: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 15.625rem;
	overflow: hidden;

	@include b.breakpoint(md) {
		min-height: 12.5rem;

		&[data-layout='grid'] {
			display: grid;
            grid-template-columns: 30% 30%;
			grid-template-areas:
				'title right-col'
				'text right-col';

			.card__title {
                grid-area: title;
                margin-top: auto;
            }
			.card__text {
				grid-area: text;
                margin-bottom: auto;
			}

			.button {
				grid-area: right-col;
                place-self: center;
			}
		}
	}
}
