@use '../globals/breaks' as b;

a.card.card--cta {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'content';
	position: relative;

	&::after {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		transition: all var(--trans-dur);
		background-color: hsla(10, 72%, 66%, 0.75);
		clip-path: circle(0% at 50% 50%);
		z-index: 1;
	}

	&:hover {
		&::after {
			clip-path: circle(72% at 50% 50%);
		}
	}

	picture {
		grid-area: content;
		filter: brightness(0.5);

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;
		}
	}

	.card__content {
		grid-area: content;
		position: relative;
		z-index: 2;
		--flow-space: 1rem;

		.card__text {
			display: flex;
			align-items: center;

			svg {
				margin-left: 1rem;
			}
		}
	}
}

.cta-card-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;

	.col {
		gap: 1.5rem;
		display: flex;
		flex-direction: column;
	}

	@include b.breakpoint(lg) {
		grid-template-columns: 1fr 1fr;
	}
}